html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

#map {
  background: rgb(211 211 211 / 100%);
}

table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

.swal2-container {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.swal2-title {
  font-size: 1.25em !important;
}

.swal2-html-container {
  font-size: 1em !important;
}

.info-icon {
  padding: 9px;
}

.info-title {
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
}

.leaflet-popup-close-button {
  /* display: none; */

  /*
  width: 10px;
  height: 10px;
  top: -5px !important;
  left: -5px !important;
  border-radius: 50% !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65) !important;
  background: white !important;
  color: gray !important;
  */
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 4px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.leaflet-popup-content-wrapper {
  width: 100%;
  max-width: 96lvw;
  padding: 1px;
  text-align: left;
  border-radius: 5px;
  overflow-x: scroll;
}

.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
}

.leaflet-popup-pdf {
  min-width: 100lvw;
  max-width: 1024px;
}

.leaflet-popup-video {
  min-width: 100lvw;
  max-width: 1024px;
}

.leaflet-popup-images {
  min-width: 301px;
  max-width: 600px;
}

.leaflet-popup h3 {
  text-align: center;
}

div.leaflet-popup-content {
  min-height: 20lvh;
  max-height: 80lvh;
}

.leaflet-popup-content {
  min-width: 96%;
  max-width: 55px;
  max-height: 100%;
  max-height: 70vh;
  overflow: auto;
  line-height: 1.4;
  margin: 5px;
}

.leaflet-popup-content-pdf {
  min-width: 100%;
}

.leaflet-popup-content-video {
  min-width: 100%;
}

.leaflet-popup-content-images {
  max-width: fit-content;
  display: flex;
  gap: 20px;
}

.leaflet-popup-scrolled {
  width: auto !important;
  height: auto !important;
  overflow: auto;
  max-height: 70vw;
  max-width: 70vw;
  border-bottom: unset !important;
  border-top: unset !important;
}

.leaflet-top {
  z-index: 9999;
}

.leaflet-right {
  max-width: 60vw;
}

.leaflet-control-layers-base label {
  cursor: pointer;
  user-select: none;
}

.leaflet-container a {
  -webkit-tap-highlight-color: unset;
}

.leaflet-control-layers {
  border-radius: 50%;
}

.leaflet-touch .leaflet-control-layers {
  border-radius: 50%;
}

.leaflet-control-layers-toggle {
  width: 56px;
  height: 56px;
  line-height: 56px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 56px;
  height: 56px;
}

.leaflet-control-layers-expanded {
  padding: 5px;
  border-radius: 5px;
}

.leaflet-touch .leaflet-control-layers-expanded {
  border-radius: 5px;
}

.leaflet-control-scale-line {
  background: rgb(211 211 211 / 100%);
  background-color: rgb(211 211 211 / 50%);
}

.leaflet-container .leaflet-control-attribution {
  background: rgb(211 211 211 / 100%);
}

.leaflet-bar {
  border-radius: 50%;
}

.leaflet-bar a {
  width: 56px;
  height: 56px;
  line-height: 56px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  width: 56px;
  height: 56px;
  line-height: 56px;
}

.leaflet-touch .leaflet-bar a {
  width: 56px;
  height: 56px;
  line-height: 56px;
}

.leaflet-touch .leaflet-bar a,
.leaflet-bar a:hover {
  width: 56px;
  height: 56px;
  line-height: 56px;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.leaflet-control-locate.active a {
  color: #2074b6;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: unset;
  box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
}

.file-control-btn,
.fit-bounds-btn {
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}

.leaflet-control-locate.active.following a {
  color: #fc8428;
}

.icon-add,
.icon-info_outline,
.icon-gps_fixed,
.icon-gps_not_fixed,
.icon-gps_off,
.icon-coord_switch {
  font-size: 24px;
}

[class^="icon-"],
[class*=" icon-"] {
  line-height: unset;
  color: gray;
}

@media (width <= 768px) {
  .leaflet-control-layers-list {
    font-size: medium;
  }
}

.spinner {
  display: inline-block;
  animation: anim-rotate 2s infinite linear;
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Progress Bar https://codepen.io/holdencreative/pen/vEVbwv */
.progress {
  position: relative;
  height: 4px;
  display: none;
  width: 100%;
  background-color: darkgray;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 999;
}

.progress .indeterminate {
  background-color: white;
}

.progress .indeterminate::before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate::after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.hiden-images {
  width: 1px;
  height: 1px;
}

img.images-photo {
  object-fit: cover;
}

/* layer control */

.ac-container {
  width: auto;
  text-align: left;
  overflow: hidden auto;
  height: auto;
}

.ac-container article label {
  display: inline;
  cursor: pointer;
}

div[id^="leaflet-control-accordion-layers"] > label {
  font-family: BebasNeueRegular, "Arial Narrow", Arial, sans-serif;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  color: #777;
  text-shadow: 1px 1px 1px rgb(255 255 255 / 80%);
  line-height: 33px;
  font-size: 19px;
  background: #fff;
  background: linear-gradient(to top, #fff 1%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fff), color-stop(100%, #eaeaea));
  background: linear-gradient(to top, #fff 1%, #eaeaea 100%);
  background: linear-gradient(to top, #fff 1%, #eaeaea 100%);
  background: linear-gradient(to top, #fff 1%, #eaeaea 100%);
  background: linear-gradient(to top, #fff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0 0 0 1px rgb(155 155 155 / 30%), 1px 0 0 0 rgb(255 255 255 / 90%) inset, 0 2px 2px rgb(0 0 0 / 10%);
  box-sizing: content-box;
  cursor: pointer;
  width: auto;
  margin: 0;
}

div[id^="leaflet-control-accordion-layers"] > label:hover {
  background: #fff;
}

.ac-container input.menu:checked + label,
.ac-container input.menu:checked + label:hover {
  background: #c6e1ec;
  color: #737373;
  text-shadow: 0 1px 1px rgb(255 255 255 / 60%);
  box-shadow: 0 0 0 1px rgb(155 155 155 / 30%), 0 2px 2px rgb(0 0 0 / 10%);
}

.ac-container div[id^="leaflet-control-accordion-layers"] > label:hover::after,
.ac-container input.menu:checked + div[id^="leaflet-control-accordion-layers"] > label:hover::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url("images/arrow_down.png") no-repeat center center;
}

.ac-container input.menu:checked + div[id^="leaflet-control-accordion-layers"] > label:hover::after {
  background-image: url("images/arrow_up.png");
}

.ac-container input.menu {
  display: none;
}

.ac-container article {
  background: rgb(255 255 255 / 50%);
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  padding: 0;
  line-height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input.menu:checked ~ article {
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.ac-container input.menu:checked ~ article.ac-large {
  height: auto;
  max-height: 100px;
  padding: 8px 0;
  overflow-y: auto;
  line-height: 18px;
}

.ac-container .group-toggle-container {
  text-align: right;
  margin-right: 3px;
  line-height: 0px;
  display: none;
  height: 20px;
}

.ac-container input.menu:checked ~ .group-toggle-container {
  display: block;
  line-height: 1em;
}

.menu-item-radio {
  font-family: Ubuntu-Regular, Arial, sans-serif;
  font-size: 13px;
}

.menu-item-checkbox {
  font-family: Ubuntu-Regular, Arial, sans-serif;
  font-size: 13px;
}

.bt_delete {
  position: relative;
  float: right;
  background-image: url("images/delete.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.leaflet-control-layers:hover {
  box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
  border-radius: 5px;
}

.leaflet-container .leaflet-control-mapcentercoord {
  background-color: rgb(211 211 211 / 50%);
  box-shadow: 0 0 5px #bbb;
  padding: 5px;
  margin: 5px;
  color: #333;
  font-family: sans-serif;

  /* font-weight: bold; */
  font-size: 12px;
}

.leaflet-control-mapcentercoord-icon {
  background: url("../img/map-center-icon1.svg") 50% 50% no-repeat;
  margin: -18px 0 0 -18px;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

/*******************************************************************************
 * load bar
 ******************************************************************************/

.load {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.ldBar {
  position: relative;
}

.ldBar path.mainline {
  stroke-width: 10;
  stroke: #09f;
  stroke-linecap: round;
}

.ldBar path.baseline {
  stroke-width: 14;
  stroke: #f1f2f3;
  stroke-linecap: round;
  filter: url("#custom-shadow");
}

.ldBar-label {
  color: #09f;
  font-family: "varela round", sans-serif;
  font-size: 2.5em;
  font-weight: 900;
}

.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
}

.ldBar-label::after {
  content: "%";
  display: inline;
}

/*******************************************************************************
 * install button
 ******************************************************************************/

.leaflet-button {
  margin-left: 10px;
  margin-top: 10px;
  transform: translateX(0%);
  padding: 2px 5px;
  color: gray;
  font-size: 1.25em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 7px gray;
}
